* {
    font-family: 'Montserrat', sans-serif !important; 
    /* font-family: 'Recursive', sans-serif; */
}
.site-alert {
    background-color: #ffb50f;
    padding: 3px 5px;
    font-size: 1em;
    text-align: center;
}
.site-alert a {
    color: black;
    text-decoration: none;
}
.site-secondaryLinks {

}
.site-secondaryLinks ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.site-navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #aaa;
}
.site-logo img{
    max-width: 275px;
    height: 85px;
    margin-left: 25px;
}
.site-search select {
    width: 40px;
}
.site-search input {
    width: 690px;
}
.site-userInfo ul{
    display: flex;
    justify-content: flex-end;
    background: #ccc;
}
.site-userInfo ul li {
    margin-right: 25px;
}